.lead__title {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 104%;
  text-align: center;
  color: #ffffff;
  margin: auto;
  max-width: 720px;
}

@media screen and (max-width: 721px) {
  .lead__title {
    font-size: 40px;
    line-height: 110%;
    max-width: 288px;
  }
}