.lead__image {
  margin: auto;
  margin-top: 64px;
  max-width: 984px;
  height: auto;
  min-height: 200px;
}

@media screen and (max-width: 1025px) {
  .lead__image {
    max-width: 928px;
    margin-top: 56px;
  }
}

@media screen and (max-width: 950px) {
  .lead__image {
    max-width: 100%;
  }
}

@media screen and (max-width: 721px) {
  .lead__title {
    font-size: 40px;
    line-height: 110%;
    max-width: 288px;
  }
}

@media screen and (max-width: 721px) {
  .lead__image {
    margin-top: 40px;
  }
}